body{
    background: #92ce92;
    color: #333;
}

.grid{
    display: grid;
}
.main{
    display: grid;
    grid-template-areas: "header header header" 
    "article . aside"
    "footer footer footer"
    ; /*ustawiamy w ile kolumn ma być w wiwrszu*/
    grid-template-columns: 1fr 64px 200px;
    column-gap: 16px;
    row-gap: 16px;
    
}

.header{
    background: tomato;    
    grid-column-start: 2;
    grid-column-end: 4;
}
.article{
    background: tomato;
    grid-area: article;
}
.aside{
    background: tomato;
    grid-area: aside;
}
.footer{
    background: tomato;
    grid-area: footer;
}
