.box1 {
    background: rgba(194, 239, 179, 1);
    width: 100%;
    min-height: 100px;
    margin: 10px auto 10px auto;
  }
  
  .box2 {
   -background: rgba(88, 164, 176, 0.6);
    -display: inline-block; /*; ------jeżeli np: masz kilka pudełek to ustawia je od lewej do prawej do samego dołu */
    overflow: auto; /*dokłada nam scroll w boxie*/
   -box-sizing: border-box; /*ustawiam wartości bordera, tak by nie musiec sumować pikseli */
    -height: 250px;
    -width: 250px;
    -padding: 20px; /*np. wyświetla teksy z marginesem w pierwszym pudełku. Góra, prawo, dół, lewo, można też dać dwie wartości wtedy bedzie to góra-dół, prawo-lewo*/
    border-width: 2px; /*ramka boxu*/
    border-style: solid; /*obramowanie stałe*/
    border-color: white;
    border-radius: 5px; /*promień narożników ramki, można zrobić pełne kółko dając 50%*/
    -margin-top: 10px;
    -margin-left: auto;
    -margin-right: auto; /* margin: 10px auto; ---odpycha wszystko co na zewnątrz o wartość*/
    
  }