body {
  background: #ffffff;
}

h1 {
  color: blue;
  font-family: "Akaya Kanadaka", sans-serif;
  font-size: 60px;
  font-weight: 900;
  text-align: left;
  text-align: center;
}

h2 {
  color: #f15025;
  font-family: "Lucida Sans Unicode";
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}

h3 {
  color: #0c0842;
  font-family: "Lucida Sans Unicode";
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}
.js-text {
  color: #0c0842;
  font-family: "Lucida Sans Unicode";
  font-size: 20px;
  font-weight: 550;
  text-align: center;
}
.js-text__description{
  color: #0c0842;
  font-family: "Lucida Sans Unicode";
  font-size: 20px;
  font-weight: 550;
  text-align: center;

}

.js-text__content{
  color: #0c0842;
  font-family: "Lucida Sans Unicode";
  font-size: 20px;
  font-weight: 550;
  text-align: center;

}


p {
  text-indent: 1.5em;
  margin-top: 0;
}

footer {
  color: gray;
}

#top {
  color: #1f0746;
}

.links {
  color: white;
  margin: 10px 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
  
}
.link-box {
  position: fixed;
  display: inline-block;
  box-sizing: border-box;
  background: black;
  top: 2px;
  min-width: 400px;
  min-height: 25px;
  padding: 2px;
  z-index: 1000;
  border: 2px solid #cf8516;
  border-radius: 5px;
  margin: 0px 2px;
}

#photo {
  margin: 0 auto;
  display: block;
  width: 20%;
}
.box-primary {
  max-width: 1600px;
  display: block;
  margin: auto;
}

.box1 {
  background: rgba(194, 239, 179, 1);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
   min-height: 100px;
  min-width: 270px;
  margin: 10 auto;
}

.box2 {
  background: #E8F1F2;
  box-sizing: border-box;
  display: inline-block;
  height: 250px;
  width: 250px;
  margin: 25px auto 25px auto;
  overflow: auto;
  border: 3px solid rgba(42, 126, 139, 0.6);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 5px 5px 5px #777777;
}

.box3 {
  background: #E8F1F2;
  display: inline-block;
  overflow: auto;
  padding: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(42, 126, 139, 0.6);
  border-radius: 5px;
  margin: 25px auto 25px auto;
  box-shadow: 5px 5px 5px #777777;
}

.image {
  height: 100%;
  width: 100%;
  margin: 0%;
}

.image > img {
  box-sizing: border-box;
  position: relative;
  display: block;
  display: inline-block;
  margin-top: 0%;
  width: 45%;
  padding-top: 56.25;
}
